[build]
  command = "npm install --legacy-peer-deps && npm run build"
  publish = "dist"
  functions = "netlify/functions"

# SPA routing
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
